@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Roboto+Condensed:700,300);

body {
  font-family: 'Roboto', 'Roboto Condensed';
  font-size: 40px;
  text-align: center;
}

/* INDEX PAGE */

section#index {
  height: 100vh;
}
#index input:first-child {
  margin-top: 15vh;
}
#index input {
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: 100;
  text-align: center;

  margin: 20px auto 5px;

  outline: none;
  border: none;
  border-bottom: 2px solid #111;

  position: relative;

  transition: all 0.15s;
}
#numberfield {
  width: 5em;
}
#index input:focus {
  border-bottom: 2px solid #66F;

  transition: all 0.15s;
}
#index input.invalid {
  border-bottom: 2px solid #F66;

  transition: all 0.15s;
}
#index input.invalid + label {
  color: #F66;
}
#index label {
  display: block;

  font-size: 0.75em;
  margin: 0;

  transition: all 0.15s;
}
p#maintext {
  margin-top: 10vh;
}

/* EVENT PAGE */
section#topbtn {
  background-color: #8AC651;
}

section#botbtn {
  background-color: #F16667;
}

section#topbtn, section#botbtn {
  height: 50vh;
  position: relative;
}
#increment, #decrement {
  display: block;
  position: absolute;
  height: 50vh;
  width: 100%;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#increment:disabled, #decrement:disabled {
  opacity: 0.25;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#top-image {
  margin-top: 10vh;
  background-image: url('../resources/increment.svg');
  -webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
  pointer-events: none;
}

#bottom-image {
  margin-bottom: 10vh;
  background-image: url('../resources/decrement.svg');
  -webkit-filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
  pointer-events: none;
}

#top-image, #bottom-image {
  width: 100%;
  height: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 999;
}

section#label {
  height: 20vh;
  width: 100%;
  line-height: 20vh;
  vertical-align: middle;
  pointer-events: none;
  position: absolute;
  top: 40vh;
  z-index: 999;
}

p#count {
  font-weight: 600;
  font-size: 12.5vh;
  margin: 0;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

table {
  margin: .5em auto;
  text-align: left;
  border-collapse: separate;
  border-spacing: 20px;
}

tr {
  margin: 50px auto;
}
td:nth-child(1), th:nth-child(1) {
  text-align: right;
}

th {
  padding: 0 25px;
  font-weight: 500;
}
td {
  padding: 0 25px;
}
a {
  color: #333;
  position: relative;
  text-decoration: none;
  padding: 5px;
}
a:visited {
  color: #333;
}
a:hover, a:active {
  background: #66F;
  color: #fefefe;
}
a::after {
 content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 0.4em;
  border-bottom: 5px solid #66F;
}

::selection {
  display: none;
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  width: 100%;
  height: 1vh;
  background: white;
  pointer-events: none;
  animation: ripple-animation;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}


@keyframes ripple-animation {
    from {
      transform: scaleY(1);
      opacity: 0.4;
    }
    to {
      transform: scaleY(100);
      opacity: 0;
    }
}
